/* EventPlatforms.css */
.event-platforms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .event-platform-card {
    flex: 0 0 calc(33.333% - 20px);
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .event-platform-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .event-platform-card img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .event-platform-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .event-platform-card a {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .event-platform-card a:hover {
    background-color: #0056b3;
  }
  
  body{
    background-color: #f7f7f7;
  }