/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ECF0F1; /* Soft White Background */
  color: #333; /* Dark text color */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
}

h1 {
  font-size: 2.5rem;
  color: #3498DB; /* Bright Blue */
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffff;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.canada-card {
  padding: 20px;
  margin: 15px;
  color: #2ECC71; /* Emerald Green */
}

.canada-card:hover {
  background-color: #014a7b; /* Bright Blue */
  color: #ffffff;
}

.card-body .me-2 {
  margin-right: 8px;
}

.nav-link {
  text-decoration: none;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

::selection {
  background-color: #d3a201; 
  color: #ffffff; 
}


